/*
    Purpose         : This Component Will Show User Details In Modal
    Created Date    : 06/14/2023
    Created By      : Shantanu Sharma
    version         : V_1.0 - Created By Shantanu Sharma.
*/

.imageClass{
    max-width: 15%;
    height: auto;
}